src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
build/docs
example
tests
**/*.spec.*
coverage
.nyc_output
*.log
.editorconfig

package-lock.json
yarn.lock
